#header-inner {
	position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    z-index:2;
}
.fixedmap {
    position:fixed;
    right:0;
    bottom:0;
    _position:absolute;
    _top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 1000;
   top:0px;
   left:0px;
   width:100%;
   height:2286px;
}

#popUpDiv {
	position:absolute;
	background:#fff;
	width:800px;
	height:400px;
	border:2px solid #39b54a;
	z-index: 9002;
	overflow:auto;
	overflow-x:hidden;
}

#popUpDiv a {
	position:relative; top:20px; left:20px
}	

#popMap {
	width:780px;
	height:380px;
}
#map-canvas {
	float:left;
	width:560px;
	height:380px;
}
#directionsPanel {
	float:right;
	width:210px;
}
